body {
  background-color: rgb(167, 167, 167, 60);
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Primary Text Color */
  color: #4A4A4A;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.carousel {
  width: 50% !important;
  margin-right: 0 !important;
  float: left;
}

.carousel .thumbs-wrapper {
  display: flex;
  justify-content: center;
}

/* Bootstrap Overrides */

.navbar {
  margin-bottom: 0;
  min-height: 100px;
}

.navbar .container {
  width: 100%;
}

.navbar-brand > img {
  position: relative;
  top: -42px;
}

.navbar-default 
.navbar-nav > li > a {
  font-size: 1em;
}
