body {
  background-color: rgb(167, 167, 167, 60);
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Primary Text Color */
  color: #4A4A4A;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.carousel {
  width: 75% !important;
}
